/* @import '@coreui/coreui/dist/css/coreui.css'; */
@import './CoreUI/style.css';
@import '@coreui/chartjs/dist/css/coreui-chartjs.css';

@import './CoreUI/vendors/simplebar.css';
@import 'simplebar/dist/simplebar.css';

@import "@fortawesome/fontawesome-free/css/all.min.css";

:root,
[data-coreui-theme=light] {
    --background: #fff;
    --background-hover: #e9ecef;
}

[data-coreui-theme=dark] {
    --background: #212631;
    --background-hover: #1d2124;
}
