.emoji-rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.emoji {
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.2s, opacity 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.emoji:hover {
    transform: scale(1.2);
}

.emoji.active {
    opacity: 1;
    transform: scale(1.2);
    color: var(--cui-warning);
}

.emoji .fa-solid{
    font-size: 96px;
}

.custom-range::-webkit-slider-thumb {
    background: var(--cui-info);
}

.custom-range::-moz-range-thumb {
    background: var(--cui-info);
}

.custom-range::-ms-thumb {
    background: var(--cui-info);
}

#form-feedback {
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
